@import "reset.css";
/* FONT */

@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
          

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ffffff;
}

/* header */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #006ad7;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-family: 'LAB디지털';
}
header a {
  all: unset;
  color: white;
  cursor: pointer;
}

header .dslion {
  margin-left: auto;
  width: 50px;
  margin-right: 1em;
}
/* section*/
section {
  width: 65%;
}

/* footer */

footer {
  background-color: #21277b;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}
footer p {
  font-size: 8pt;
  color: #ffffff;
}

/* 공통 요소 */

h3 {
  color: #21277b;
  font-size: 2rem;
  align-items: center;
  font-family: 'LAB디지털';
}

.date {
  font-size: 9pt;
  color: #8cc3de;
}

/* home.html */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #21277b;
  margin: 1em 1em;
}

.home p {
  flex-basis: auto;
  word-break: break-all;
  margin: 1em;
}
.home a {
  all: unset;
  color: #21277b;
  font-size: 3rem;
  cursor: pointer;
}

.preview {
  font-size: 9pt;
  color: #8cc3de;
  margin-bottom: 0px;
}

/* create.html */
#id_title,
#id_body {
  background-color: none;
  appearance: none;
  border: 0;
  color: black;
  border-bottom: 1px solid black;
  margin-top: 1em;
}

#id_title {
  font-size: 25px;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

#id_body {
  font-size: 15px;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

/* detail.html */

.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn a {
  all: unset;
  color: #006ad7;
  margin: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
.btn a:hover {
  color: #8cc3de;
}

.detail p {
  margin: 1em;
  word-break: break-all;
}


/* create.html update.html */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: white;
  color: #006ad7;
  border: 1px solid #006ad7;
  border-radius: 5px;
  font-size: 12pt;
}

input:hover {
  background-color: white;
  color: white;
  border: 1px solid #006ad7;
}
